<link rel="stylesheet" th:href="@{/js/plug-in/jstree/css/style.min.css}" />
        <div class="content-wrapper">
            <section class="content-header">
                <h1>角色信息</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="/panel"><i class="fa fa-dashboard"></i>首页</a>
                    </li>
                    <li>
                        <a th:href="@{/role}">角色信息</a>
                    </li>
                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                 <div class="navbar">
                                    <ul class="nav navbar-nav">
                                        <li class="pull-left j-role-add">
                                            <a class="" href="javascript:void(0);">添加角色</a>
                                        </li> 
                                    </ul>
                                </div>
                               <!--  <div class="row">
                                    <form class="col-xs-3 pull-right">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="query" placeholder="输入姓名" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-info" type="button" id="but_query">搜索</button>
                                            </span>
                                        </div>
                                    </form>
                                </div> -->
                            </div>
                            <div class="box-body">
		                        <div class="col-xs-12">
		                            <table class="table table-bordered table-hover table-condensed table-striped text-center" id="j-table-1">
		                                <thead>
			                                <tr>
			                                    <th>名称</th>
			                                    <th>类型</th>
			                                    <th>remake</th>
			                                    <th>操作</th>
			                                </tr>
		                                </thead>
		                                <tbody id="roleList"></tbody>
		                            </table>
		                            <section class="page pull-right">
										<ul class="pagination" id="pagination"></ul>
		                        	</section>
		                        </div>
		                    </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        
        <!-- 添加角色 -->
        <div class="modal fade" id="Modal-role-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">添加角色</h4>
                </div>
                <div class="modal-body col-xs-12">
                    <div class="form-horizontal">
                        <div class="form-group" id="role-type">
                            <label for="input-id" class="col-sm-2 control-label">类型</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="input-type">
                                	<option value="1" >管理员</option>
                                	<option value="2" >普通用户</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-name" class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10" form-prompt="true" form-prompt-text="名称为1~20位">
                            	<input type="hidden" id="role-id"  value=""/>
                                <input type="text" class="form-control" id="input-remake" placeholder="输入备注" value="" maxlength="20"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                    <button type="button" id="do_save_userroles" class="btn btn-primary j-confirm-btn">确定</button>
                </div>
            </div>
        </div>
    </div>
        
        
<!-- 用户模态框 -->
<div class="modal fade" id="role-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">请选择用户</h4>
			</div>
			<div class="modal-body col-xs-12">
				<div class="row">
					<!-- <div class="box-header">
						<div class="col-xs-5 pull-right">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="编号或姓名" id="query" />
								<span class="input-group-btn"><button class="btn btn-info" type="button" id="btn-query">查找</button></span>
							</div>
						</div>
					</div> -->
					<div class="box-body">
						<input type="hidden" id="exist-userId"/>
						<input type="hidden" id="thisRoleId"/>
						<div class="col-xs-12">
							<table class="table table-bordered table-hover table-condensed table-striped text-center" id="j-table-2">
								<thead>
									<tr>
										<th>编号</th>
                                        <th>登录名</th>
                                        <th>操作</th>
                                    </tr>
								</thead>
								<tbody id="userList"> </tbody>
							</table>
							  <section class="page pull-right">
								<ul class="pagination" id="userPage"></ul>
	                    	  </section>
                           </div>
                       </div>
                   </div>
               </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary j-confirm-btn" id="role-user-add">确定</button>
			</div>
		</div>
	</div>
</div>

<script th:src="@{/js/user/role-list.js}"></script>
<script th:src="@{/js/plug-in/my-opt/js/opt.js}"></script>

<script id="roleTempl" type="text/x-jquery-tmpl">
{{each(i,item) list}}
	<tr>
      	<td>{{= item.name}}</td>
		<td>{{= item.type}}</td>
   	    <td>{{= item.remark}}</td>
		<td>
			<button type="button" roleId="{{= item.id}}" class="btn btn-success btn-xs j-jur to-user">用户</button>
		</td>
    </tr>
{{/each}}
</script>

<script id="userTmpl" type="text/x-jquery-tmpl">
{{each(i, item) list}}
	<tr class="j-che-2" user-id="{{= item.id}}">
         <td>{{= item.id}}</td>
         <td>{{= item.account}}</td>
         <td>
             <button type="button" class="btn btn-info btn-xs j-btn-2" id="{{= item.userId}}">可选</button>
         </td>
     </tr>
{{/each}}
</script>
