<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.7.0
    </div>
    <strong>Copyright &copy; 2017 <a href="#">微笑影院后台</a>.</strong> All rights reserved.
</footer>
<div class="control-sidebar-bg"></div>

<script th:src="@{/js/plug-in/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plug-in/bootstrap/js/bootstrap-paginator.js}"></script>
<script th:src="@{/js/plug-in/jquery-tmpl/jquery.tmpl.min.js}"></script>
<script th:src="@{/js/plug-in/dist/js/app.min.js}"></script>
<script th:src="@{/js/plug-in/dist/js/demo.js}"></script>
<script th:src="@{/js/public/public.js}"></script>
<script th:src="@{/js/plug-in/layer/js/layer.js}"></script>

